# Data Wrangling

### Applied Data Science

## Data Wrangling

- Neo4j
- Demonstration
- Cleaning data
- Missing data

## Neo4j Example

- Creating nodes
- Creating relationships
- Perfoming simple queries

## Recurring theme in data science lectures...

- There is no single correct recipe for data science
    - Data storage
    - Database selection
    - Data wrangling
- Match appropriate technique to the task at hand
- Familiarity is essential to select suitable methods

- Data wrangling: detect, correct, remove or otherwise deal with corrupted or inaccurate records

![alt text](resources/lego_data_1.jpg)

## Data Wrangling Example

This example considers the [CASAS](http://casas.wsu.edu) dataset. This is a dataset collected in a smart environment. As participants interact with the house, sensors record their interactions. There are a number of different sensor types including motion, door contact, light, temperature, water flow, etc. 

![alt text](resources/sensorlayout.jpg)

This example goes through a number of common issues in data science when working with real data. Namely, several issues relating to dates, sensor values, etc. This are dealt with consistently using the functionality provided by the `pandas` library. 

The objective is to fix all errors (if we can), and then to convert the timeseries data to a form that would be recognisable by a machine learning algorithm. I have attempted to comment my code where possible to explain my thought processes. At several points in this script I could have taken shortcuts, but I also attempted to forgo brevity for clarity.

In [100]:
from os.path import join 

import pandas as pd
import numpy as np

This imports the pandas library that is used to clean up the data that has been collected as part of the CASAS data set.

Set up various parameters and variables that will be used in this script

In [101]:
url = 'http://casas.wsu.edu/datasets/twor.2009.zip'
zipfile = url.split('/')[-1]
dirname = '.'.join(zipfile.split('.')[:2])
filename = join(dirname, 'data')

print '     url: {}'.format(url)
print ' zipfile: {}'.format(zipfile)
print ' dirname: {}'.format(dirname)
print 'filename: {}'.format(filename)

     url: http://casas.wsu.edu/datasets/twor.2009.zip
 zipfile: twor.2009.zip
 dirname: twor.2009
filename: twor.2009/data

Download the dataset, and unzip it using the following commands in shell

```shell
wget http://casas.wsu.edu/datasets/twor.2009.zip
unzip twor.2009.zip
```

or directly in python

```python
from subprocess import call
call(('wget', url));
call(('unzip', zipfile));
```

In [102]:
#from subprocess import call
#call(('wget', url));
#call(('unzip', zipfile));

In [103]:
column_headings = ('date', 'time', 'sensor', 'value', 'annotation', 'state')

df = pd.read_csv(
    filename, 
    delim_whitespace=True,  # Note, the file is delimited by both space and tab characters
    names = column_headings
)

df.head()

         date             time sensor    value        annotation  state
0  2009-02-02  07:15:16.575809    M35       ON  R1_Bed_to_Toilet  begin
1  2009-02-02  07:15:21.408519  AD1-A  2.82231               NaN    NaN
2  2009-02-02  07:15:22.532789    M35      OFF               NaN    NaN
3  2009-02-02  07:15:23.345479    M35       ON               NaN    NaN
4  2009-02-02  07:15:27.529299  AD1-A  2.79926               NaN    NaN

In [104]:
df.dtypes

date          object
time          object
sensor        object
value         object
annotation    object
state         object
dtype: object

These types have been created when we set the columm headings of the data field and are from the columm_headings variable

Create a datetime column (currently date and time are separate, and are also strings). The following 
should achieve this: 

```python 
df['datetime'] = pd.to_datetime(df[['date', 'time']].apply(lambda row: ' '.join(row), axis=1))
```

The code above will fail, however, but this is expected behaviour. If we investigate the traceback for the error, we will discover that the final row in the file is from the year `22009`. This is a typo, clearly, and it should be from the year `2009`, so we will first replace this value, and then parse the dates.

In [105]:
df.loc[df.date.str.startswith('22009'), 'date'] = '2009-02-03'

df['datetime'] = pd.to_datetime(df[['date', 'time']].apply(lambda row: ' '.join(row), axis=1))

In [106]:
df.head()

,date,time,sensor,value,annotation,state,datetime
0,2009-02-02,07:15:16.575809,M35,ON,R1_Bed_to_Toilet,begin,2009-02-02 07:15:16.575809
1,2009-02-02,07:15:21.408519,AD1-A,2.82231,NaN,NaN,2009-02-02 07:15:21.408519
2,2009-02-02,07:15:22.532789,M35,OFF,NaN,NaN,2009-02-02 07:15:22.532789
3,2009-02-02,07:15:23.345479,M35,ON,NaN,NaN,2009-02-02 07:15:23.345479
4,2009-02-02,07:15:27.529299,AD1-A,2.79926,NaN,NaN,2009-02-02 07:15:27.529299

By default, the new column is added to the end of the columns. However, since the date and time are now captured by the `datetime` column, we no longer need the date and time columns. Additionally, we will see how it is useful to have the `datetime` column as an index variable: this allows us to do time-driven querying which for this dataset will be very useful.

In [107]:
df = df[['datetime', 'sensor', 'value', 'annotation', 'state']]

df.set_index('datetime', inplace=True)

df.head()

                           sensor    value        annotation  state
datetime
2009-02-02 07:15:16.575809    M35       ON  R1_Bed_to_Toilet  begin
2009-02-02 07:15:21.408519  AD1-A  2.82231               NaN    NaN
2009-02-02 07:15:22.532789    M35      OFF               NaN    NaN
2009-02-02 07:15:23.345479    M35       ON               NaN    NaN
2009-02-02 07:15:27.529299  AD1-A  2.79926               NaN    NaN

We can now inspect the unique sensor, activity and value values:

In [108]:
df.sensor.unique()

array(['M35', 'AD1-A', 'M34', 'M32', 'M33', 'M36', 'M30', 'M29', 'M37',
       'M38', 'M39', 'M41', 'M40', 'M49', 'M46', 'M50', 'M44', 'M47',
       'M48', 'M43', 'M28', 'M42', 'M27', 'M26', 'M25', 'M24', 'M21',
       'M19', 'M18', 'M17', 'M16', 'M15', 'D09', 'M14', 'M13', 'M08',
       'M07', 'M02', 'M45', 'M51', 'D08', 'AD1-B', 'AD1-C', 'D10', 'I03',
       'M06', 'M09', 'M10', 'M01', 'D12', 'L04', 'M23', 'M31', 'D15',
       'D07', 'D14', 'M11', 'M05', 'M03', 'M04', 'M22', 'M12', 'M20',
       'L11', 'D05', 'D03', 'L10', 'L06', 'L13', 'L12', 'L09'], dtype=object)

In [109]:
df.annotation.unique()

array(['R1_Bed_to_Toilet', nan, 'R1_Personal_Hygiene', 'R2_Bed_to_Toilet',
       'Meal_Preparation', 'R2_Personal_Hygiene', 'Watch_TV', 'R1_Work',
       'R2_Work', 'R1_Sleep', 'R2_Sleep', 'Wash_Bathtub', 'Clean', 'Study'], dtype=object)

In [110]:
df.state.unique()

array(['begin', nan, 'end'], dtype=object)

In [111]:
df.value.unique()

array(['ON', '2.82231', 'OFF', ..., '0.122853', '0.101369', '2.80684'], dtype=object)

We can see here that the unique values contains both numbers (eg 2.82231) and strings (ON, OFF). This is because the data recorded by all sensors is contained in one column. The next few steps will be to extract the non-numeric (ie categorical) data from the column.

## Extracting the categorical data 

We can extract the categorical dataframe (noting that no categorical sensor starts with the letter `A`): 

The regular expression `^[^A]` returns true for strings that do not begin with `A` -- the first `^` is the symbol for the start of the sequence, and the second `^` when contained within square brackets is a 'not match' operation.  

Since we only need the sensor name and the value, the data frames that we will deal with in this and the next section will slice these columns only (and doesn't consider the annotation columns).

In [112]:
categorical_inds = df.sensor.str.match(r"^[^A]")

df_categorical = df.loc[categorical_inds][['sensor', 'value']]

df_categorical.head()

                           sensor value
datetime
2009-02-02 07:15:16.575809    M35    ON
2009-02-02 07:15:22.532789    M35   OFF
2009-02-02 07:15:23.345479    M35    ON
2009-02-02 07:15:28.655329    M34    ON
2009-02-02 07:15:32.574290    M34   OFF

Our ambition is to create a matrix where each column corresponds to the combinations of sensors and values that are availabele in the data. For example, one column would correspond to the state of `M35` being `ON`, and another column will correspond to `M35` being `OFF`. The reason for having two columns to represent the `ON` and `OFF` states is that diffferent information may be achieved by the combinations. For example, a sensor turning on may correspond to somebody entering a room, but correspondingly, a sensor turning off may correspond to somebody leaving the room. 

We will achieve the matrix representation by creating a new column that has the `sensor` and `value` columns concatenated, and then we will use the `get_dummies` function provided by pandas to create the representat that we desire.

In [113]:
df_categorical.loc[:, 'sensor_value'] = df_categorical[['sensor', 'value']].apply(
    lambda row: '{}_{}'.format(*row).lower(), 
    axis=1
)

df_categorical.head()

                           sensor value sensor_value
datetime
2009-02-02 07:15:16.575809    M35    ON       m35_on
2009-02-02 07:15:22.532789    M35   OFF      m35_off
2009-02-02 07:15:23.345479    M35    ON       m35_on
2009-02-02 07:15:28.655329    M34    ON       m34_on
2009-02-02 07:15:32.574290    M34   OFF      m34_off

In [114]:
df_categorical_exploded = pd.get_dummies(df_categorical.sensor_value)

df_categorical_exploded.head()

,d03_close,d03_open,d05_open,d07_close,d07_open,d08_close,d08_open,d09_close,d09_open,d10_close,...,m47_off,m47_on,m48_off,m48_on,m49_off,m49_on,m50_off,m50_on,m51_off,m51_on
datetime,,,,,,,,,,,,,,,,,,,,,
2009-02-02 07:15:16.575809,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:22.532789,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:23.345479,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:28.655329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:32.574290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

And if desired, we can get a matrix form of the data with the `values` property

In [115]:
df_categorical_exploded.values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

## Numeric columns 

We have extracted matrix representation of the categorical data. Now, we will do the same for the numeric data.

In [116]:
numeric_inds = df.sensor.str.startswith("A")

df_numeric = df.loc[numeric_inds][['sensor', 'value']]

df_numeric.head()

                           sensor    value
datetime
2009-02-02 07:15:21.408519  AD1-A  2.82231
2009-02-02 07:15:27.529299  AD1-A  2.79926
2009-02-02 07:48:10.647809  AD1-A  2.82754
2009-02-02 07:48:16.658869  AD1-A   2.7977
2009-02-02 07:49:47.980269  AD1-A  2.81895

Note, however, that since the value data was obtained from file that it is still in string format. We can convert these `str` data types to floating point data types easily as follows: 

```python 
df_numeric.value.map(float)
```

However, if we do this, we will discover that there is one record that holds a circumspect value (`0.509695F`). This is clearly another mistake in the dataset. We can remove the `F` from the string easily. It is not difficult to make the next bit of code more robust to other data types (eg by applying regular expressions to the strings), but here we will simply slice up until the last character to remove the `F`:

In [117]:
f_inds = df_numeric.value.str.endswith('F')

df_numeric.loc[f_inds, 'value'] = df_numeric.loc[f_inds, 'value'].str[:-1]

df_numeric.loc[f_inds]

                           sensor     value
datetime
2009-02-19 18:35:43.447570  AD1-B  0.509695

We can now map all data to floating point numbers

In [118]:
df_numeric.value = df_numeric.value.map(float)

There are only three numeric sensor types, as we can see with the `unique` member function:

In [119]:
unique_keys = df_numeric.sensor.unique()

unique_keys

array(['AD1-A', 'AD1-B', 'AD1-C'], dtype=object)

Create some new columns for the three sensors (`AD1-A`, `AD1-B`, and `AD1-C`), and merge with the original data frame

In [120]:
df_numeric = pd.merge(df_numeric[['value']], pd.get_dummies(df_numeric.sensor), left_index=True, right_index=True)

df_numeric.head()

                              value  AD1-A  AD1-B  AD1-C
datetime
2009-02-02 07:15:21.408519  2.82231      1      0      0
2009-02-02 07:15:27.529299  2.79926      1      0      0
2009-02-02 07:48:10.647809  2.82754      1      0      0
2009-02-02 07:48:16.658869  2.79770      1      0      0
2009-02-02 07:49:47.980269  2.81895      1      0      0

In [121]:
for key in unique_keys:
    df_numeric[key] *= df_numeric.value

df_numeric = df_numeric[unique_keys]

# Print a larger sample of the data frame
df_numeric

                              AD1-A     AD1-B     AD1-C
datetime
2009-02-02 07:15:21.408519  2.82231  0.000000  0.000000
2009-02-02 07:15:27.529299  2.79926  0.000000  0.000000
2009-02-02 07:48:10.647809  2.82754  0.000000  0.000000
2009-02-02 07:48:16.658869  2.79770  0.000000  0.000000
2009-02-02 07:49:47.980269  2.81895  0.000000  0.000000
2009-02-02 07:49:50.450200  2.79606  0.000000  0.000000
2009-02-02 07:50:32.349950  2.82215  0.000000  0.000000
2009-02-02 07:50:41.483289  2.79707  0.000000  0.000000
2009-02-02 07:51:02.724829  2.81934  0.000000  0.000000
2009-02-02 07:52:08.488470  2.79411  0.000000  0.000000
2009-02-02 07:52:56.623310  2.81465  0.000000  0.000000
2009-02-02 07:53:52.378560  2.79106  0.000000  0.000000
2009-02-02 07:54:05.162839  2.81457  0.000000  0.000000
2009-02-02 10:20:15.554059  2.81887  0.000000  0.000000
2009-02-02 10:21:14.211980  2.79707  0.000000  0.000000
2009-02-02 10:23:24.749089  2.82340  0.000000  0.000000
2009-02-02 10:23:45.800649  2.79817  0.000000  0.000000
2009-02-02 10:24:57.506000  2.82231  0.000000  0.000000
2009-02-02 10:25:02.576770  2.79825  0.000000  0.000000
2009-02-02 10:25:22.848629  0.00000  0.095587  0.000000
2009-02-02 10:25:23.747489  0.00000  0.000000  0.443601
2009-02-02 10:25:27.374320  0.00000  0.000000  0.422897
2009-02-02 10:25:31.325390  0.00000  0.000000  0.037149
2009-02-02 10:25:35.079659  0.00000  0.033829  0.000000
2009-02-02 10:32:11.766249  2.81871  0.000000  0.000000
2009-02-02 10:32:50.318399  2.79848  0.000000  0.000000
2009-02-02 12:10:40.295500  2.79200  0.000000  0.000000
2009-02-02 12:11:52.545670  2.81340  0.000000  0.000000
2009-02-02 12:16:04.407840  2.79207  0.000000  0.000000
2009-02-02 12:16:22.468189  2.81348  0.000000  0.000000
...                             ...       ...       ...
2009-04-03 17:54:39.025120  0.00000  0.000000  0.078243
2009-04-03 17:54:42.146630  0.00000  0.000000  0.033126
2009-04-03 17:57:27.706300  0.00000  0.000000  0.122853
2009-04-03 17:57:30.264559  0.00000  0.000000  0.036212
2009-04-03 17:57:36.129719  0.00000  0.000000  0.101369
2009-04-03 17:57:39.049669  0.00000  0.000000  0.036212
2009-04-03 18:01:35.484210  2.82059  0.000000  0.000000
2009-04-03 18:01:44.385390  2.79801  0.000000  0.000000
2009-04-03 18:02:59.700839  2.81825  0.000000  0.000000
2009-04-03 18:03:17.568710  2.79301  0.000000  0.000000
2009-04-03 18:04:04.460629  2.82137  0.000000  0.000000
2009-04-03 18:04:07.447590  2.79871  0.000000  0.000000
2009-04-03 18:05:19.673180  2.81918  0.000000  0.000000
2009-04-03 18:05:34.519999  2.79653  0.000000  0.000000
2009-04-03 18:06:31.437920  2.82371  0.000000  0.000000
2009-04-03 18:06:37.551520  2.79668  0.000000  0.000000
2009-04-03 18:07:25.596329  2.81981  0.000000  0.000000
2009-04-03 18:07:46.635940  2.79590  0.000000  0.000000
2009-04-03 18:09:13.567869  2.81598  0.000000  0.000000
2009-04-03 18:09:52.518749  2.79559  0.000000  0.000000
2009-04-03 18:09:55.384219  2.81676  0.000000  0.000000
2009-04-03 18:10:49.731149  2.79668  0.000000  0.000000
2009-04-03 18:11:43.466739  2.81723  0.000000  0.000000
2009-04-03 18:11:52.419399  2.79528  0.000000  0.000000
2009-04-03 18:11:58.777689  2.81528  0.000000  0.000000
2009-04-03 18:13:07.618079  2.79504  0.000000  0.000000
2009-04-03 18:13:45.458260  2.82231  0.000000  0.000000
2009-04-03 18:13:48.585030  2.80207  0.000000  0.000000
2009-04-03 18:14:24.679579  2.82731  0.000000  0.000000
2009-04-03 18:14:30.627379  2.80684  0.000000  0.000000

[7693 rows x 3 columns]

## Merging categorical and numeric data together

Since we have two dataframes (one for categorical data and one for numeric data). For any analysis, it would be useful to have these two in a unified data frame. 

First we will remind ourselves what the dataframes look like, and then these will be unified into one format.

In [122]:
df_categorical_exploded.head()

,d03_close,d03_open,d05_open,d07_close,d07_open,d08_close,d08_open,d09_close,d09_open,d10_close,...,m47_off,m47_on,m48_off,m48_on,m49_off,m49_on,m50_off,m50_on,m51_off,m51_on
datetime,,,,,,,,,,,,,,,,,,,,,
2009-02-02 07:15:16.575809,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:22.532789,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:23.345479,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:28.655329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2009-02-02 07:15:32.574290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
df_numeric.head()

                              AD1-A  AD1-B  AD1-C
datetime
2009-02-02 07:15:21.408519  2.82231    0.0    0.0
2009-02-02 07:15:27.529299  2.79926    0.0    0.0
2009-02-02 07:48:10.647809  2.82754    0.0    0.0
2009-02-02 07:48:16.658869  2.79770    0.0    0.0
2009-02-02 07:49:47.980269  2.81895    0.0    0.0

We will use the `pandas.merge` function to join the two dataframes. In this case, we must use more of its functionality. We will merge on the `index` of the categorical and numeric dataframes. However, since none of these timestamps are shared (refer to the original data frame) we will do the merge with an `"outer"` join.

In [124]:
df_joined = pd.merge(
    df_categorical_exploded, 
    df_numeric, 
    left_index=True, 
    right_index=True,
    how='outer'
)
df_joined.head()

,d03_close,d03_open,d05_open,d07_close,d07_open,d08_close,d08_open,d09_close,d09_open,d10_close,...,m48_on,m49_off,m49_on,m50_off,m50_on,m51_off,m51_on,AD1-A,AD1-B,AD1-C
datetime,,,,,,,,,,,,,,,,,,,,,
2009-02-02 07:15:16.575809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2009-02-02 07:15:21.408519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.82231,0.0,0.0
2009-02-02 07:15:22.532789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2009-02-02 07:15:23.345479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2009-02-02 07:15:27.529299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.79926,0.0,0.0

Note, that in merging the dataframes, we now have a time-ordered dataframe. This is one of the advantages of using `datetime`s as the index type in dataframes since `pandas` will understand precisely how to merge the two datasets.